<% const pages = [
  {
    name: 'Features',
    subpages: [
      {
        name: 'Dependency Free',
        url: '/features/dependency-free',
      },
      {
        name: 'Small size',
        url: '/features/small-size',
      },
      {
        name: 'Open Source',
        url: '/features/open-source',
      },
      {
        name: 'Views/Namespace Logic',
        url: '/features/views-namespace-logic',
      },
      {
        name: 'Prefetch',
        url: '/features/prefetch',
      },
      {
        name: 'Change Log',
        url: '/features/change-log',
      },
    ],
  },
  {
    name: 'About',
    url: '/about',
  },
  {
    name: 'Example',
    url: '/example',
  },
  {
    name: 'Showcase',
    url: '/showcase',
  },
  {
    name: 'Docs',
    url: '/docs',
  },
] %>

<div class="menu">
  <div class="menu__pages">
    <ul class="menu__pages__list">

      <% pages.forEach(function(page) { %>

        <% if(page.url) { %>

          <!-- Page without subpages -->
          <li class="menu__pages__item <%- is_current(page.url) ? 'is-active' : '' %>">
            <a class="menu__pages__item__link"
               href="<%- page.url %>">
              <%- page.name %>
            </a>
          </li>
          <!-- Page without subpages [end] -->

        <% } else { %>

          <!-- Page with subpages-->
          <li class="menu__pages__item">
            <div class="menu__pages__item__title">
              <%- page.name %>
            </div>

            <div class="menu__pages__item__subpages menu-subpages">
              <ul class="menu-subpages__list">

                <% page.subpages.forEach(function(page) { %>

                  <!-- Subpage -->
                  <li class="menu-subpages__item <%- is_current(page.url) ? 'is-active' : '' %>">
                    <a class="menu-subpages__item__link"
                       href="<%- page.url %>">
                      <%- page.name %>
                    </a>
                  </li>
                  <!-- Subpage [end] -->

                <% }); %>

              </ul>
            </div>
          </li>
          <!-- Page with subpages [end] -->

        <% } %>

      <% }); %>

    </ul>
  </div>
</div>
