<% var nav = getDocsNav(page.url, theme.docs) %>
<% var prev = nav[0] %>
<% var next = nav[1] %>

<div class="docs__nav__lateral" data-component="docs-nav-lateral">
  <% if (prev !== null) { %>
    <a href="<%- theme.root %><%- prev.url %>" class="docs__nav__lateral__link--prev">
      <%- partial('../common/icon', {
        icon: 'barba-arrow-prev',
        hidden: true,
        viewbox: '0 0 21 15',
      }) %>
      <span class="docs__nav__lateral__label"><%- prev.title %></span>
    </a>
  <% }; %>

  <button class="docs__nav__lateral__button">
    Doc
  </button>

  <% if (next !== null) { %>
    <a href="<%- theme.root %><%- next.url %>" class="docs__nav__lateral__link--next">
      <span class="docs__nav__lateral__label"><%- next.title %></span>
      <%- partial('../common/icon', {
        icon: 'barba-arrow-next',
        hidden: true,
        viewbox: '0 0 21 15',
      }) %>
    </a>
  <% }; %>
</div>
