<div class="feature" data-component="feature" data-feature-slug="<%- page.slug %>"
  data-feature-order="<%- page.order %>">
  <%-
    partial(
      '../common/logo.ejs',
      {
        classes: 'featured featured--'+page.modifier
      }
    )
  %>
  <div class="big-shape-outer">
    <%-
      partial(
        '../common/logo.ejs',
        {
          classes: 'only-big can-move detail-feature featured--'+page.modifier
        }
      )
    %>
  </div>

  <%- partial('./feature-nav.ejs') %>

  <div class="feature-outer">
    <h1 class="feature__title colored">
      <%- page.title %>
    </h1>
    <% if (page.box) { %>

    <div class="feature__bodymovin" data-ref="feature.bodymovin"></div>

    <div class="feature__box">
      <div class="feature__box__body">
        <%- partial('./feature-box/' + page.box) %>
      </div>
      <div class="feature__box__footer">
        <%-
          partial('./feature-action.ejs',
            {
              ctaLink: theme.root + page.action.link,
              ctaModifier: page.modifier,
              ctaTitle: page.action.title,
              ctaIcon: page.action.icon,
            }
          )
        %>
      </div>
    </div>
    <% } else { %>
    <%- page.content %>
    <% }; %>
  </div>
</div>
