<li class="grid__item showcase__card">

  <a href="<%- siteUrl %>" target="_blank" rel="noopener noreferrer">
    <%- require('ejs-compiled-loader!../common/image.ejs')({
        src: picture,
        alt: siteName,
      }) %>
  </a>

  <div class="showcase__card__footer">
    <figcaption>
      <strong class="showcase__card__footer__title"><%- siteName %></strong>
      <span class="showcase__card__footer__author"><%- authorName %></span>
    </figcaption>
    <a class="grid__item__link link--view" target="_blank" href="<%- siteUrl %>">
      View
      <%- require('ejs-compiled-loader!../common/icon.ejs')({
        icon: 'barba-external',
        hidden: true,
        viewbox: '0 0 15 15',
      }) %>
    </a>
  </div>

</li>
