<% const docs = [
  {
    name: 'Get Started',
    url: '/docs/getstarted',
    path: '/docs/getstarted',

  },
  {
    name: 'User Guide (Core)',
    url: '/docs/userguide/markup',
    path: '/docs/userguide',
    subdocs: [
      {
        name: 'Markup',
        url: '/docs/userguide/markup',
      },
      {
        name: 'Syntax',
        url: '/docs/userguide/syntax',
      },

    ],
  },
  {
    name: 'Plugins',
    url: '/docs/plugins/css',
    path: '/docs/plugins',
    subdocs: [
      {
        name: 'CSS',
        url: '/docs/plugins/css',
      },
      {
        name: 'Router',
        url: '/docs/plugins/router',
      },
      {
        name: 'Prefetch',
        url: '/docs/plugins/prefetch',
      },
      {
        name: 'Transitions',
        url: '/docs/plugins/transitions',
      },
      {
        name: 'Head',
        url: '/docs/plugins/head',
      },
    ],
  },
] %>

<section class="docs">
  <div class="docs__side-nav">
    <ul class="docs__side-nav__list">
      <% docs.forEach(function(doc) { %>
      <li>
        <a href="<%- doc.url %>">
          <h1 class="docs__side-nav__title <%- is_current(doc.path) ? 'is-open' : '' %>"><%- doc.name %></h1>
        </a>
        <ul class="docs__side-nav__sublist">
          <% if (doc.subdocs) { %>
          <% doc.subdocs.forEach(function(subdoc) { %>
          <li class="<%- is_current(subdoc.url) ? 'is-open' : '' %>">
            <a href="<%- subdoc.url %>">
              <h2 class="docs__side-nav__subtitle <%- is_current(subdoc.url) ? 'is-open' : '' %>"><%- subdoc.name %>
              </h2>
          </li>
          <% }); %>
          <% }; %>
        </ul>
      </li>
      <% }); %>
    </ul>
  </div>

  <div class="docs__markdown">
    <%- page.content %>
  </div>
  </div>
</section>
