<!doctype html>
<html>
<head>
  <title><%= config.title %></title>
  <meta name="description" content="<%= config.description %>" />

  <link rel="apple-touch-icon" sizes="180x180" href="<%= config.url %>/favicons/apple-touch-icon.png?rev=1">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= config.url %>/favicons/favicon-32x32.png?rev=1">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= config.url %>/favicons/favicon-16x16.png?rev=1">
  <link rel="manifest" href="<%= config.url %>/favicons/site.webmanifest?rev=1">
  <link rel="mask-icon" href="<%= config.url %>/favicons/safari-pinned-tab.svg?rev=1" color="#5bbad5">
  <link rel="shortcut icon" href="<%= config.url %>/favicons/favicon.ico?rev=1">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="<%= config.url %>/favicons/browserconfig.xml?rev=1">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= config.title %>" />
  <meta property="og:description" content="<%= config.description %>" />
  <meta property="og:url" content="<%= config.url %>" />
  <meta property="og:site_name" content="<%= config.title %>" />
  <meta property="og:image" content="<%= config.url %>/share.jpg" />
  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="500" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="<%= config.description %>" />
  <meta name="twitter:title" content="<%= config.title %>" />
  <meta name="twitter:site" content="@barba_js" />
  <meta name="twitter:image" content="<%= config.url %>/share.jpg" />
  <meta name="twitter:creator" content="@barba_js" />

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="<%= config.url %>/scss/main.css" type="text/css" media="all">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    window.barbaMenu = {
      array: JSON.parse('<%-JSON.stringify(theme.menu)%>'),
    }
    window.barbaDocs = {
      array: JSON.parse('<%-JSON.stringify(theme.docs)%>'),
    }

    document.documentElement.classList.add('js');

  </script>
</head>

<body data-barba="wrapper">
  <%- partial('svg/sprite') %>
  <div data-barba="container" data-barba-namespace="<%- page.namespace || 'home' %>">

    <%- partial('components/chrome/header') %>

    <main class="site-main" role="main">
      <div class="site-content">
        <div class="site-content-inner">

          <%- body %>
        </div>
      </div><!-- end .site-content -->
    </main><!-- end .site-main -->

    <%- partial('components/chrome/footer') %>

  </div>
  <script src="<%= config.url %>/js/main.js"></script>
</body>

</html>
