<li class="grid__item example__card">

  <a href="<%- post.watch_url %>" target="_blank" rel="noopener noreferrer">
    <h2 class="example__card__title"><%- post.name %></h2>
    <div class="example__card__picture">
      <%- partial('components/common/image.ejs', {
          src: post.asset,
          alt: post.alt,
        }) %>
    </div>
  </a>

  <div class="example__card__links">

    <% if (post.watch_url) { %>
    <a class="grid__item__link link--watch" href=<%- post.watch_url %>>
      <%- partial('components/common/icon', {
            icon: 'barba-eye',
            hidden: true,
            viewbox: '0 0 20 15',
          }) %>
      Watch
    </a>
    <% }; %>

    <% if (post.source_url) { %>
    <a class="grid__item__link link--source" href=<%- post.source_url %>>
      <%- partial('components/common/icon', {
            icon: 'barba-github',
            hidden: true,
            viewbox: '0 0 13 15',
          }) %>
      Source
    </a>
    <% }; %>

    <% if (post.zip_url) { %>
    <a class="grid__item__link link--zip" href=<%- post.zip_url %>>
      <%- partial('components/common/icon', {
            icon: 'barba-download',
            hidden: true,
            viewbox: '0 0 18 18',
          }) %>
      Zip
    </a>
    <% }; %>

  </div>
</li>
